
.loginPage{
    width:100%;
    height: 100%;
    position: fixed;
    overflow:hidden;
    background:radial-gradient(ellipse at center,#2d9b95 0%,#044e8e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9b95',endColorstr='#0e1329',GradientType=1 );
}

.login{
    text-align: center;
    width: 350px;
    margin: 5% auto 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 10px 30px;
    border-radius: 5px;
}

.login input{
    text-align: left !important;
}

@media screen and (max-width: 350px) {
    .login{
        width: 90%;
        margin-top: 30%;;
    }
}

.login .login-form-button{width: 100%; margin-bottom: 20px;}